{% extends 'base_1.html' %}
{% load static %}

{% block title %}
change password
{% endblock title %}


{% block main %}
  <div class="t_s">
    <p>Change your password</p>
  </div>

  <form method="post" class="box">
    {% csrf_token %}
    <br>
    <div class="box_inn">
      <p class="box_border">
        <small class="peace">Stay away from public when changing your password</small>
      </p>
    </div>

    <div class="box_inn">
      <div class="box_border">
        <p class="alert_info">
          Password are case-sensitive. Use a strong password with a combination of characters, <br> upper and lower letters, along side with numbers to make it strong, like: <b>p@s$w0r01.1</b>
        </p>
        <br>
        <p class="alert_warning">
          Make sure to remember your password for frequently use. Also you can change your password later again.
        </p>
        <br>
        
        <!-- old password -->
        <span>Old password:</span>
        <br>
        <input type="password" name="old_password" placeholder="Enter old password" autocomplete="off" autofocus required>
        <br>
        <br>
        
        {% if form.old_password.errors %}
          <p class="alert_warning"> Your old password was entered incorrectly. Please enter it again.</p>
          <br>
        {% endif %}
        
        <!-- new password -->
        <span>New password:</span>
        <br>
        <input type="password" name="new_password1" placeholder="Enter new password" minlength="8" autocomplete="off" required>
        <br>
        <br>
        
        <!-- new password again -->
        <span>New password again:</span>
        <br>
        <input type="password" name="new_password2" placeholder="Verify new password" minlength="8" autocomplete="off" required>
        {% if form.new_password2.errors %}
          <!-- <p>{{form.new_password2.errors}}</p> -->
          <br>
          <br>
          <p class="alert_warning">The two password fields didn’t match or something went wrong.</p>
          <br>
          <p class="alert_warning">Password should not be similar to your account information, with a min-length of 8 character and avoid using numeric password entirely. Include symbols to make it strong like (?/@.^*) etc.</p>
          <br>
        {% endif %}
        
        <!-- {% if form.errors %}
          {{form.errors}}
        {% endif %} -->
      </div>
      <br>
      
      <p class="alert_warning">
        <span class="center_span">
          <input type="checkbox" required> &nbsp; Are you sure to change your password?
        </span>
      </p>
      <br>
      <div>
        <button type="submit">Change</button>
      </div>
      <br>
    </div>
  </form>
{% endblock main %}
