{% extends 'secureapp/base_2.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Encme | change password</title>
{% endblock head %}


{% block form %}
  <form method="post">
    {% csrf_token %}
    <h1>Change password</h1>
    <p>Make sure to use a password that you can remember!</p>
    <br>

    <!-- old password -->
    <span>Old password:</span>
    <input type="password" name="old_password" placeholder="Enter old password" class="input" autofocus required>
    {% if form.old_password.errors %}
      <!-- <p>{{form.old_password.errors}}</p> -->
      <div class="err_danger">
        <p class="err_danger">
          <i><strong><small>--- Your old password was entered incorrectly. Please enter it again.</small></strong></i>
        </p>
      </div>
      <br>
    {% endif %}

    <!-- new password -->
    <span>New password:</span>
    <input type="password" name="new_password1" placeholder="Enter new password" minlength="8" class="input" required>

    <!-- new password again -->
    <span>New password again:</span>
    <input type="password" name="new_password2" placeholder="Verify new password" minlength="8" class="input" required>
    {% if form.new_password2.errors %}
      <!-- <p>{{form.new_password2.errors}}</p> -->
      <div>
        <p class="err_danger">
          <i><strong><small>--- The two password fields didn’t match or something went wrong.</small></strong></i>
        </p>
        <hr>
        <p class="err_warn">
          <i><small>Password should not be similar to your account information, with a min-length of 8 character and avoid using numeric password entirely. Include symbols to make it strong like (?/@.^*) etc.
          </small></i>
        </p>
      </div>
      <br>
    {% endif %}

    <!-- {% if form.errors %}
      {{form.errors}}
    {% endif %} -->
    <button type="submit">change</button>
    <p>Back to <a href="{% url 'secureapp:home' %}">Home</a></p>
  </form>
{% endblock form %}
