{% extends 'base_1.html' %}
{% load static %}

{% block title %}
  dashboard
{% endblock title %}

{% block item %}
  {% if user_items.count > 0 %}
    <div class="category">
      <h1>Platforms</h1>
      {% for item in user_items %}
        <p><a href="#">{{item.platform}}</a></P>{{item.custom_platform}}
      {% endfor %}
    </div>
  {% endif %}
{% endblock item %}
{% block main %}
  <div class="t_s">
    <p>Overview</p>
    <form action="#">
      <a href="#">upgrade</a>
      <button type="submit">Edit</button>
    </form>
  </div>

  <div class="box_center">
    <a href="#" class="grey">Drop secret here</a>
  </div>

  <div class="box">
    <br>
    <div class="box_inn">
      <div class="box_border">
        <a href="#" class="grey">Subscription</a>
        <a href="#" class="grey">Security</a>
        <p><b>PassAccess</b>, a password and sensitive information manager, that encrypt and save them for a user, which can be decrypt by the user when ever need to be! it is a security application that secure sensitive informations.</p>
      </div>
    </div>

    <div class="box_head">
      <h1>My items</h1>
      <small>These are your items</small>
    </div>

    {% if default.user_items %}
      {% for item in default.user_items %}
        <div class="trusted_user">
          <h4>{{item.i_label}}, {{item.category}}</h4>
          <a href="{% url 'secureapp:item_info' item.id %}" class="peace">{{item.platform}}</a>
        </div>
      {% endfor %}
    {% else %}
      <div class="box_center">
        <div class="box_border">
          <p class="alert_warning">You have not save any item, <a href="{% url 'secureapp:new_item' %}" class="peace">add new item</a></p>
        </div>
      </div>
    {% endif %}

    <div class="box_inn">
      <p>Description:</p>
      <p class="box_border">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsam voluptas magni, officia odio quaerat aliquid culpa quasi eum consequatur delectus explicabo, alias repellendus, odit quos recusandae sunt laborum blanditiis?</p>
      <br>
    </div>
  </div>

  <div class="box">
    <div class="box_head">
      <h1>Items you were assign as trusted user</h1>
      <small>These are your team/organisation that you have access to their items</small>
    </div>

    {% for item in items %}
      {% if request.user != item.owner %}
        {% if request.user in item.trusted_user %}
          {{item}}
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <div class="trusted_user">
      <h4>SSH server</h4>
      <a href="#" class="peace">Get inside</a>
    </div>
    <div class="trusted_user">
      <h4>Team house</h4>
      <a href="#" class="peace">Get inside</a>
    </div>
    <div class="trusted_user">
      <h4>Github APIs</h4>
      <a href="#" class="peace">Get inside</a>
    </div> -->

    <div class="box_center">
      <div class="box_border">
        <p class="alert_warning">You don't have access to any team/organisation item</p>
      </div>
    </div>

    <div class="box_bot">
      <p>You can log-out now by just one click <a href="{% url 'auth:logout' %}" class="danger_round">Logout</a></p>
      <small>Still you can log-in again after been logged-out!</small>
    </div>
  </div>
{% endblock main %}
