{% extends 'base_1.html' %}
{% load static %}

{% block title %}
  generate strong password
{% endblock title %}


{% block main %}
  <div class="t_s">
    <p>Generate strong password</p>
  </div>

  <form action="{% url 'auth:generated_password' %}" method="post" class="box">
    {% csrf_token %}
    <br>
    <div class="box_inn">
      <p class="box_border">
        <small class="peace">Here is your new generated password!</small>
      </p>
    </div>

    <div class="box_inn">
      <div class="box_border">
        <p class="alert_info">
          Your generated password
        </p>
        <br>
        
        <span>Label password:</span>
        <br>
        <input type="text" name="label" placeholder="Label password" autofocus required>
        <br>
        <textarea name="pwd_value" class="auth_textarea" id="auth_textarea_visibility" placeholder="Generated password" cols="30" rows="10">{{pwd_value}}</textarea>
        <p class="alert_warning">You can't copy your strong password here but later, after being saved!.</p>
      </div>
      <br>
      
      <p class="alert_info">
        <span class="center_span">
          <input type="checkbox" required> &nbsp; Do you agree to save this password? If not, you can generate &nbsp; <a href="{% url 'auth:password_generator' %}" class="danger">new</a> &nbsp; one.
        </span>
      </p>
      <br>
      <div>
        <button type="submit">Save password</button>
      </div>
      <br>
    </div>
  </form>
{% endblock main %}
