{% extends 'base_2.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock head %}

{% block title %}
  help
{% endblock title %}

{% block link %}
  <a href="{% url 'auth:signup' %}" class="h_link">Sign Up</a>
  <a href="{% url 'auth:login' %}" class="h_link">Login</a>
  <a href="{% url 'auth:login' %}"class="h_link_sm">Login</a>
{% endblock link %}


{% block main %}
  <div class="header">
    <br>
    <h2 class="p">Help center</h2>
    <br>
  </div>
  
  <div class="main">
    <div class="main_col">
      <br>
      <br>
      <br>
      <p class="pp"><b>PassAccess</b> help me!</p>
      <br>
      <p class="pp">Help could be found on the readme file of the project, over it official github repository. <a href="https://github.com/usmanmusa1920/pass-access" class="alert_col_info">PassAccess official repository</a> or <a href="mailto:usmanmusa1920@gmail.com" class="alert_col_info">email</a> us.</p>
      <br>
    </div>
  </div>
  <div class="feedback-container">
    <h2>Send your feedback!</h2>
    <form action="mailto:usmanmusa1920@gmail.com" method="post">
    <!-- <form action="mailto:passaccess0@gmail.com" method="post"> -->
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter your name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email address" required>

      <label for="feedback">Feedback:</label>
      <textarea id="feedback" name="feedback" placeholder="Enter your feedback" required></textarea>

      <input type="submit" value="Send">
    </form>
  </div>
{% endblock main %}
