{% extends 'secureapp/base_2.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
  <title>Encme | landing page</title>
{% endblock head %}


{% block link %}
  <a href="{% url 'auth:signup' %}" class="h_link">Sign Up</a>
  <a href="{% url 'auth:login' %}" class="h_link">Login</a>
  <a href="{% url 'auth:login' %}"class="h_link_sm">Login</a>
{% endblock link %}


{% block main %}
  <div class="header">
    <h2 class="p">Bringing you about privacy concern</h2>
    <br>
    <p class="pp">Manage all your sensitive information in one place with <strong>"Encme"</strong></p>
    <br>
    <div class="header_banner">
      <h1>Welcome to encme</h1>
      <p>Bringing you about privacy concern</p>
    </div>
  </div>

  <br>
  <p class="pp">A password and sensitive information manager, that encrypt and save them for a user, which can be decrypt by the use when ever need to be. A security application that secure sensitive informations.</p>
  <br>

  <div class="main">
    <div class="main_col">
      <div class="two">
        <img src="{% static 'css/img/what-is-dynamic-password-controller-how-it-work-730x411-blog.jpg' %}" alt="">
      </div>
      <p>Manage your sensitive information with encme</p>
      <br>
    </div>
  </div>

  <div class="main">
    <div class="main_col">
      <div class="two">
        <img src="{% static 'css/img/password-protection-hero-image.jpg' %}" alt="">
      </div>
      <p>Protect your password with encme</p>
      <br>
    </div>
  </div>
{% endblock main %}
