{% extends 'secureapp/base_2.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Sakyum | login</title>
{% endblock head %}

{% block link %}
  <a href="{% url 'secureapp:signup' %}">Sign up</a>
{% endblock link %}


{% block form %}
  <form action="#" method="post">
    <h1>Login to your account</h1>
    <p>Join the community everywhere every time!</p>
    <span>Email:</span>
    <input type="email" name="email" placeholder="Email addres" class="input" required>
    {% if form.email.errors %}
      <div class="alert-warning">
        <small>{{form.email.errors}}</small>
      </div>
    {% endif %}
    <span>Password:</span>
    <input type="password" name="password1" placeholder="Password" minlength="8" class="input" required>
    {% if form.password2.errors %}
      <div class="alert-warning">
        <small>{{form.password2.errors}}</small>
      </div>
      <div class="warn">
        <small>
          Password should not be similar to your account information, with a min-length of 8 character and avoid using numeric password entirely. Include symbols to make it strong like (?/@.^*) etc.
        </small>
      </div>
    {% endif %}
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="{% url 'secureapp:signup' %}">Signup</a></p>
  </form>
{% endblock form %}