{% extends 'secureapp/base_2.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>PassAccess | generate strong password</title>
{% endblock head %}


{% block form %}
  <form method="post">
    {% csrf_token %}
    <h1>Generate strong password</h1>
    <p>Minimum of 32 and a maximum of 1000 length</p>
    <br>
    <span>Password length:</span>
    <input type="number" name="pwd_length" placeholder="Length (min 32, max 1000)" class="input" autofocus required>
    <button type="submit">Generate</button>
    <p>Back to <a href="{% url 'secureapp:landing' %}">Dashboard</a></p>
  </form>
{% endblock form %}
