{% extends 'base_1.html' %}
{% load static %}

{% block title %}
  generate strong password
{% endblock title %}


{% block main %}
  <div class="t_s">
    <p>Generate strong password</p>
  </div>

  <form method="post" class="box">
    {% csrf_token %}
    <br>
    <div class="box_inn">
      <p class="box_border">
        <small class="peace">Stay away from public when changing your password</small>
      </p>
    </div>

    <div class="box_inn">
      <div class="box_border">
        <p class="alert_info">
          Minimum of 32 and a maximum of 1000 length
        </p>
        <br>
        
        <span>Password length:</span>
        <br>
        <input type="number" name="pwd_length" placeholder="Password length" autofocus required>
        <br>
      </div>
      <br>
      
      <p class="alert_warning">Once you generate, it will take you to next page where you, can click save to save it.</p>
      <br>
      <div>
        <button type="submit" onclick="val_required_fields(this, 'pwd_length')">Generate</button>
      </div>
      <br>
    </div>
  </form>
{% endblock main %}
