{% extends 'base_2.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block title %}
  validate passcode
{% endblock title %}


{% block form %}
  <form method="post">
    {% csrf_token %}
    <img src="{% static 'css/img/vault.png' %}" class="vault" alt="">
    <p class="p_auth_1">Enter master passcode, to unlock next page!</p>

    {% if next_url.url|length >= 12 %}
      <p class="p_auth_2">
        <a href="{{next_url.url}}">
          <small>{{next_url.host}}{{next_url.url|truncatechars:10}}</small>
        </a>
      </p>
    {% else %}
      <p class="p_auth_2">
        <a href="{{next_url.url}}">
          <small>{{next_url.host}}{{next_url.url}}</small>
        </a>
      </p>
    {% endif %}
    
    <!-- authentication illustration -->
    <div class="authentic">
      <div class="cntr">
        <div class="circle"></div>
        <p class="scan">running</p>
        <div class="pointer-cntr">
          <span class="pointer">O</span>
        </div>
        <div class="gradient-circle"></div>
      </div>
    </div>
    <p class="auth_process">Authenticating . . .</p>

    {% if request.user.passcode.count_passcode_trial >= 5 %}
      <p class="p_multi">Multi-factor authentication (MFA) must be provided, in other to get access!</p>
      <input type="number" name="lucky_number" placeholder="Enter your lucky number" class="input" autocomplete="off" autofocus required>
      <input type="text" name="childhood_name" placeholder="Enter your childhood name" class="input" autocomplete="off" required>
      <!-- passcode -->
      <input type="password" name="passcode" placeholder="Enter master passcode" minlength="8" class="input" autocomplete="off" autocomplete="off" autofocus required>
      <button type="submit" onclick="show_val_progress(this, 'lucky_number,childhood_name,passcode')" class="btn">Authenticate</button>
    {% else %}
      <!-- passcode -->
      <input type="password" name="passcode" placeholder="Enter master passcode" minlength="8" class="input" autocomplete="off" autocomplete="off" autofocus required>
      <button type="submit" onclick="show_val_progress(this, 'passcode')" class="btn">Authenticate</button>
    {% endif %}
  </form>
{% endblock form %}
