{% extends 'base_2.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script src="{% static 'js/val_x.js' %}"></script>
  <title>PassAccess | validate passcode</title>
{% endblock head %}


{% block form %}
  <form method="post">
    {% csrf_token %}
    <img src="{% static 'css/img/vault.png' %}" class="vault" alt="">
    <p class="p_auth_1">Enter master passcode, to unlock next page!</p>

    {% if next_url.url|length >= 12 %}
      <p class="p_auth_2">
        <a href="{{next_url.url}}">
          <small>{{next_url.host}}{{next_url.url|truncatechars:10}}</small>
        </a>
      </p>
    {% else %}
      <p class="p_auth_2">
        <a href="{{next_url.url}}">
          <small>{{next_url.host}}{{next_url.url}}</small>
        </a>
      </p>
    {% endif %}
    
    <!-- authentication illustration -->
    <div class="authentic">
      <div class="cntr">
        <div class="circle"></div>
        <p class="scan">running</p>
        <div class="pointer-cntr">
          <span class="pointer">O</span>
        </div>
        <div class="gradient-circle"></div>
      </div>
    </div>
    <p class="auth_process">Authenticating . . .</p>
    
    <!-- passcode -->
    <input type="password" name="passcode" placeholder="Enter master passcode" minlength="8" class="input" autocomplete="off" value="19991125u" autofocus required>
    <button type="submit" onclick="show_val_progress()" class="btn">Authenticate</button>
  </form>
{% endblock form %}
