{% extends 'base_1.html' %}
{% load static %}

{% block title %}
  dashboard
{% endblock title %}

{% block item %}
  {% if user_items.count > 0 %}
    <div class="category">
      <h1>Platforms</h1>
      {% for item in user_items %}
        <p><a href="#">{{item.platform}}</a></P>{{item.custom_platform}}
      {% endfor %}
    </div>
  {% endif %}
{% endblock item %}
{% block main %}
  <div class="t_s">
    <p>Overview</p>
    <form action="#">
      <a href="#">upgrade</a>
      <button type="submit">Edit</button>
    </form>
  </div>

  <div class="box_center">
    <a href="#" class="grey">Drop secret here</a>
  </div>

  <div class="box">
    <br>
    <div class="box_inn">
      <div class="box_border">
        <a href="#" class="grey">Subscription</a>
        <a href="#" class="grey">Security</a>
        <p>This will take you through a series of prompts where you can make some changes to your MySQL installation’s security options. The first prompt will ask whether you’d like to set up the Validate Password Plugin, which can be used to test the password strength of new MySQL users before deeming them valid.</p>
      </div>
    </div>
    <form class="box_head">
      <small>Stay away from public when saving new information. You can search a trusted user by id or username</small>
      <br>
      <input type="search" name="" placeholder="Search a trusted user">
      <button type="submit">search</button>
    </form>

    <div class="trusted_user">
      <h4>Usman Musa</h4>
      <a href="#" class="peace">Add trusted user</a>
    </div>

    {% for item in user_items %}
      <div class="trusted_user">
        <h4>{{item.i_label}}, {{item.category}}</h4>
        <a href="{% url 'secureapp:item_info' item.id %}" class="danger">{{item.platform}}</a>
      </div>
    {% endfor %}

    <div class="trusted_user">
      <h2 class="danger">We can't find trusted user with that data</h2>
    </div>

    <div class="box_inn">
      <p>Description:</p>
      <p class="box_border">This will take you through a series of prompts where you can make some changes to your MySQL installation’s security options. The first prompt will ask whether you’d like to set up the Validate Password Plugin, which can be used to test the password strength of new MySQL users before deeming them valid.</p>
      <br>
    </div>

    <div class="box_bot">
      <p>If you want to discard (delete) this item information click here <a href="#" class="danger_round">Discard</a></p>
    </div>
  </div>

  <div class="box">
    <div class="box_head">
      <h1>Trusted users</h1>
      <small>These are your team (trusted user) that have access to this item</small>
    </div>

    <div class="trusted_user">
      <h4>Usman Musa</h4>
      <a href="#" class="danger">Remove trusted user</a>
    </div>
    <div class="trusted_user">
      <h4>Muhammad Shehu</h4>
      <a href="#" class="danger">Remove trusted user</a>
    </div>
    <div class="trusted_user">
      <h4>Aliyu Sani</h4>
      <a href="#" class="danger">Remove trusted user</a>
    </div>

    <div class="box_bot">
      <p>You can remove all trusted user by just one click <a href="#" class="danger_round">Remove all trusted user</a></p>
      <small>Note: removing trusted users may not give them access to this sensitive information</small>
    </div>
  </div>
{% endblock main %}
