.p{
  text-align: center;
  padding: 0 200px;
  font-size: 3rem;
  font-weight: lighter;
  background: white;
}

.form form{
  width: 40%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgrey;
  border-radius: 7px;
  margin: 30px 0;
  padding: 10px 0;
  overflow: hidden;
}

@media only screen and (max-width: 700px){
  .form form{
    width: 90%;
  }
}

@media only screen and (max-width: 1050px){
  .form form{
    width: 90%;
  }
}

.form p{
  margin: 0 5px;
  text-align: center;
}

.form form span{
  width: 70%;
  text-align: start;
}

@media only screen and (max-width: 700px){
  .form form span{
    width: 90%;
  }
}

@media only screen and (max-width: 1050px){
  .form form span{
    width: 90%;
  }
}

.input, #id_country{
  width: 70%;
  height: 33px;
  padding: 0 10px;
  margin: 8px 0;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
}

@media only screen and (max-width: 700px){
  .input, #id_country{
    width: 90%;
  }
}

@media only screen and (max-width: 1050px){
  .input, #id_country{
    width: 90%;
  }
}

.input:focus, .input:hover{
  width: 72%;
  height: 33px;
}

@media only screen and (max-width: 700px){
  .input:focus, .input:hover{
    width: 92%;
    height: 33px;
  }
}

@media only screen and (max-width: 1050px){
  .input:focus, .input:hover{
    width: 92%;
    height: 33px;
  }
}

.radio, .calender{
  display: flex;
  width: 70%;
}

@media only screen and (max-width: 700px){
  .radio, .calender{
    width: 90%;
  }
}

@media only screen and (max-width: 1050px){
  .radio, .calender{
    width: 90%;
  }
}

.radio input, .calender input{
  border: none;
  outline: none;
  padding: 5px;
  margin: 3px;
}

.form form button{
  background: black;
  color: white;
  padding: 10px 0;
  width: 50%;
}

.form form p{
  margin-top: 10px;
}

.form form p a{
  color: green;
  font-size: 18px;
}
