* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

/* user session age */
.security_secs, .security_user_sess_age{
  display: none;
}

body{
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans", Times 'Segoe UI', Tahoma, Verdana, sans-serif, serif,Verdana,Arial,sans-serif;
}

.container, .header{
  width: 100%;
}

.err_danger{
  color: red;
}

.err_warn{
  background: yellow;
}

.alert_col_info{
  color: green;
}

.alert_info{
  padding: 10px;
  background: lightgreen;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
}

.alert_col_success{
  color: green;
}

.alert_success{
  padding: 10px;
  background: lightgreen;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
}

.alert_col_warning{
  color: red;
}

.alert_warning{
  padding: 10px;
  background: pink;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
}

.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  background-color: rgb(3, 3, 60);
}

@media only screen and (max-width: 700px){
  .head{
    padding: 15px;
  }
}

@media only screen and (max-width: 1050px){
  .head{
    padding: 15px;
  }
}

.head h1 a{
  color: white;
  text-decoration: none;
}

.head div{
  display: flex;
  align-items: center;
}

.h_link, .h_link_sm{
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.h_link_sm{
  display: none;
}

@media only screen and (max-width: 700px){
  .h_link{
    margin-left: 3px;
    display: none;
  }
  .h_link_sm{
    display: block;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1050px){
  .h_link{
    margin-left: 3px;
    display: none;
  }
  .h_link_sm{
    display: block;
    font-size: 20px;
  }
}

.form{
  width: 100%;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(29, 29, 73);
}

.foot{
  width: 100%;
  padding: 50px 150px;
  color: white;
  background: rgb(50, 50, 63);
}

@media only screen and (max-width: 700px){
  .foot{
    width: 100%;
    padding: 10px 50px;
  }
}

@media only screen and (max-width: 1050px){
  .foot{
    width: 100%;
    padding: 10px 50px;
  }
}

.foot a{
  color: white;
}
