.p{
  text-align: center;
  padding: 0 200px;
  font-size: 3rem;
  font-weight: lighter;
}

.pp{
  text-align: center;
  padding: 0 200px;
  font-family: cursive;
  font-style: italic;
  font-size: 20px;
  font-weight: lighter;
}

@media only screen and (max-width: 700px){
  .p{
    padding: 3px;
  }
  
  .pp{
    padding: 3px;
  }
}

@media only screen and (max-width: 1050px){
  .p{
    padding: 3px;
  }
  
  .pp{
    padding: 3px;
  }
}

.header_banner{
  width: 100%;
  min-height: 50vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 11.5vh; */
  background: url('./img/mfa_passwords.webp')  no-repeat center center/cover;
  /* background: url('./img/password-protection-hero-image.jpg')  no-repeat center center/cover; */
  /* background: url('./img/what-is-dynamic-password-controller-how-it-work-730x411-blog.jpg')  no-repeat center center/cover; */
  /* animation attrib */
  animation-name: myanimation;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.header_banner h1{
  color: white;
  font-size: 4rem;
  font-style: italic;
  font-family: fantasy;
  text-align: center;
  text-shadow: 0 0 2px rgb(50, 50, 63), 1px 1px 2px black, 0 0 5px rgb(50, 50, 63);
}

.header_banner p{
  text-align: center;
  color: white;
  /* font-size: 2rem; */
  font-weight: lighter;
  font-style: italic;
  font-family: fantasy;
}

.main{
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_col{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: whitesmoke;
}

.two img{
  width: 100%;
  min-height: 50vh;
  height: 70vh;
}

@media only screen and (max-width: 700px){
  .two img{
    width: 500px;
    min-height: auto;
    height: auto;
  }
}

@media only screen and (max-width: 1050px){
  .two img{
    width: 500px;
    min-height: auto;
    height: auto;
  }
}

.form{
  display: none;
}

/* css style for feedback.html page */
.feedback-container{
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: white;
}

@media only screen and (max-width: 700px){
  .feedback-container{
    margin: 10px;
  }
}

@media only screen and (max-width: 1050px){
  .feedback-container{
    margin: 10px;
  }
}

.feedback-container h2{
  font-size: 24px;
  margin-bottom: 20px;
}

.feedback-container label{
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.feedback-container input,
.feedback-container textarea{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.feedback-container input[type="submit"]{
  background-color: rgb(3, 3, 45);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-container input[type="submit"]:hover{
  background-color: #0069d9;
}
