{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/base_1.css' %}">
  <script src="{% static 'js/base.js' %}"></script>
  <title>
    PassAccess | {% block title %} <!-- title --> {% endblock title %}
  </title>
</head>
<body>
  {% if general_context.monitor_session_age == True and request.user.passcode.monitor_session_age == True %}
    <!-- these two span tags won`t be visible (they are hidden in the base_1.css file). The first one will count number of seconds of in active, while the second one is the logged in user session age value -->

    <!-- The ('monitor_session_age': True) within the default view's context dictionary (mostly in view that are decorated with `@passcode_required` and have page to render), enable the (security_secs, and security_user_sess_age) span tags to display in the html page. Note these two tags are only place at the top of this `base_1.html` where as some other pages are in herited from it(mostly those required passcode authentication). The javascript function for it is below the file, within the script (<script></script>) tag. All what am trying to say is, by the use of such, if a user take 30 seconds without doing nothing `(onload, onmousemove, onmousedown, ontouchstart, onclick, or onkeypress)` the screen page will be dim (dark navy in color).
    
    User can disable it by unchecking the checkbox in the update page. -->
    <span class="security_secs"></span>
    <span class="security_user_sess_age">{{request.user.passcode.session_age}}</span>
  {% endif %}
  {% include 'validator.html' %}
  
  <div class="container">
    <div class="nav_panel">
      <form class="search_form">
        <input type="search" name="" placeholder="Search here">
        <button type="submit">search</button>
        <img src="{% static 'img/hide_menu.png' %}" id="hide_menu_t" alt="" onclick="hide_menu()">
      </form>
      
      <div class="side">
        <div class="category">
          <h1>Dashboard</h1>
          <br>
          <p><a href="{% url 'auth:landing' %}">Overview</a></P>
          <p><a href="{% url 'secureapp:new_item' %}">New item</a></P>
          {% if request.user.passcode.passcode_ingredient == None or request.user.passcode.passcode_ingredient == '' %}
            <!-- pass -->
          {% else %}
            <br>
            <p><a>Number of items</a> <span>{{general_context.user_items.count}}</span></P>
            <p><a>Trusted users</a><span>{{general_context.t_users}}</span></P>
          {% endif %}
        </div>
        <br>
        
        {% block item %}
            <!-- items -->
        {% endblock item %}
        <div class="category">
          {% if request.user.passcode.passcode_ingredient == None or request.user.passcode.passcode_ingredient == '' %}
            <!-- pass -->
          {% else %}
            {% if general_context.user_items %}
              <h1>My items</h1>
              {% for item in general_context.user_items %}
                <p><a href="{% url 'secureapp:item_info' item.id %}">{{item.i_label}}</a></P>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
        <br>

        <div class="category">
          <h1>Auth</h1>
          {% if request.user.passcode.passcode_ingredient == None or request.user.passcode.passcode_ingredient == '' %}
            <p><a href="{% url 'auth:set_passcode' %}">Set passcode</a></P>
          {% else %}
            <p><a href="{% url 'auth:update_profile' %}">Update profile</a></P>
            <p><a href="{% url 'auth:update_passcode' %}">Change passcode</a></P>
            <p><a href="{% url 'auth:change_password' %}">Change password</a></P>
            <p><a href="{% url 'auth:password_generator' %}">Generate password</a></P>
          {% endif %}
          {% if request.user.is_superuser == True %}
          <p><a href="/admin">Admin</a></P>
          {% endif %}
          <p><a href="{% url 'auth:logout' %}">Logout</a></P>
        </div>
        <br>
        
        <div class="category">
          <h1>Links</h1>
          <p><a href="{% url 'auth:help' %}">Help</a></P>
          <p><a href="{% url 'auth:about' %}">About</a></P>
          <p><a href="{% url 'auth:privacy' %}">Privacy</a></P>
          <p><a href="{% url 'auth:contact_us' %}">Contact Us</a></P>
          <p><a href="https://github.com/usmanmusa1920/pass-access">Repository</a></P>
        </div>
        <br>
        
        <div class="foot">
          <small>Get 
            <a href="{% url 'auth:help' %}">help</a> from PassAccess community or start live <a href="{% url 'auth:contact_us' %}">chat</a> with us via <a href="mailto:usmanmusa1920@gmail.com">email</a>.
          </small>
          <p>PassAcces &copy; 2022 - {{general_context.the_year}} <a href="https://usmanmusa1920.github.io">Designed & Developed</a></p>
        </div>
      </div>
    </div>
    
    <div class="main">
      <div class="header">
        <div class="l_header">
          <img src="{% static 'img/show_menu.png' %}" id="show_menu" alt="" onclick="show_menu()">
          <img src="{% static 'img/show_menu.png' %}" id="hide_menu" alt="" onclick="hide_menu()">
          <a href="{% url 'auth:landing' %}"><h1>PassAccess</h1></a>
        </div>
        
        <div class="r_header">
          <span>{{request.user.first_name|slice:':1'|upper}}{{request.user.last_name|slice:':1'|upper}}</span>
          <a href="{% url 'auth:landing' %}">{{request.user.first_name}} {{request.user.last_name}}</a>
          <a>|</a>
          <a href="{% url 'auth:logout' %}">Logout</a>
        </div>
      </div>
      
      <div class="main_inn">
        {% if messages %}
          {% for flash_msg in messages %}
            <div class="box">
              <div class="box_inn">
                <br>
                <div class="alert_{{flash_msg.tags}}">
                  <p class="alert_col_{{flash_msg.tags}}">{{flash_msg}}</p>
                </div>
                <br>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        
        {% block main %}
          <!-- inheritance -->
        {% endblock main %}
      </div>
    </div>
    
  </div>
  <script type="text/javascript">
		let timer = 0;
		let currSeconds = 0;
    let secsCount = document.querySelector('.security_secs').textContent;
    let userSessionAge = document.querySelector('.security_user_sess_age').textContent;
    
		function resetTimer() {
			// Hide the timer text
			document.querySelector('body').style.display = 'block';
      document.querySelector('html').style.background = 'white';

			// Clear the previous interval
			clearInterval(timer);

			// Reset the seconds of the timer
			currSeconds = 0;

			// Set a new interval
      // NOTE: 1 second = 1000 milliseconds
			timer = setInterval(startIdleTimer, 1000);
		}
    
		// events that would reset the timer
		window.onload = resetTimer;
		window.onmousemove = resetTimer;
		window.onmousedown = resetTimer;
		window.ontouchstart = resetTimer;
		window.onclick = resetTimer;
		window.onkeypress = resetTimer;
    
		function startIdleTimer() {
			// Increment the timer seconds
			currSeconds++;

      // if (secsCount == userSessionAge / 2 || secsCount === userSessionAge / 2){
      if (secsCount == 30 || secsCount === 30){
        document.querySelector('body').style.display = 'none';
        document.querySelector('html').style.background = 'rgb(3, 3, 45)';
      }
      
			// Set the timer text to the new value
			secsCount = currSeconds;
		}
	</script>
</body>
</html>
