{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/base_2.css' %}">
  {% block head %}
    <!-- content tags -->
  {% endblock head %}
  <title>PassAccess</title>
</head>
<body>
  <div class="container">

    <div class="header">
      <div class="head">
        <h1><a href="{% url 'auth:landing' %}">PassAccess</a></h1>
        <div class="div">
          {% if request.user.is_authenticated %}
            <a href="{% url 'auth:logout' %}" class="h_link">Logout</a>
            <a href="{% url 'auth:logout' %}" class="h_link_sm">Logout</a>
          {% else %}
            {% block link %}
              <!-- links -->
            {% endblock link %}
            <a href="{% url 'auth:about' %}" class="h_link">About</a>
            <a href="{% url 'auth:privacy' %}" class="h_link">Privacy</a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- flash messages -->
    {% if messages %}
      {% for flash_msg in messages %}
        <div class="alert_{{flash_msg.tags}}">
          <p class="alert_col_{{flash_msg.tags}}">{{flash_msg}}</p>
        </div>
      {% endfor %}
    {% endif %}
    
    {% block main %}
      <!-- main content -->
    {% endblock main %}

    <div class="form">
      {% block form %}
        <!-- form content -->
      {% endblock form %}
    </div>

    <div class="foot">
      <h1><a href="{% url 'auth:landing' %}">PassAccess</a></h1>
      <small><i>(Security & privacy is priority)</i></small>
      <br>
      <br>
      <p>A password and sensitive information manager, that encrypt and save them for a user, which can be decrypt by the use when ever need to be. A security application that secure sensitive informations.</p>
      <br>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'auth:landing' %}">Dashboard</a></li>
        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'auth:login' %}">Login</a></li>
        <li><a href="{% url 'auth:signup' %}">Sign Up</a></li>
      {% endif %}
      <li><a href="{% url 'auth:about' %}">About</a></li>
      <li><a href="{% url 'auth:privacy' %}">Privacy</a></li>
      <li><a href="{% url 'auth:help' %}">Help</a></li>
      <li><a href="{% url 'auth:contact_us' %}">Contact Us</a></li>
      <br>
      <p>Alright reserved PassAcces &copy; 2022 - {{default.the_year}}</p>
    </div>
  </div>
</body>
</html>
