{% load static %}
<link rel="stylesheet" href="{% static 'css/validator.css' %}">

<!-- 
  This include file is for pages that will restrict user from clicking anywhere when submitting a request (while processing)
-->

<div class="dew">
  <span class="dew_span">
    <div class="dew_authentic">
      <div class="dew_cntr">
        <div class="dew_circle"></div>
        <small class="dew_scan"></small>
        <div class="dew_pointer_cntr">
          <span class="dew_pointer">
            <span class="period"></span>
          </span>
        </div>
        <div class="dew_gradient_circle"></div>
      </div>
    </div>
  </span>
</div>
